---
const FEATURED_LINKS = [
  {
    name: 'Air Force 1',
    href: '/',
  },
  {
    name: 'Jordan 1',
    href: '/',
  },
  {
    name: 'Metcon',
    href: '/',
  },
  {
    name: 'Air Max 270',
    href: '/',
  },
];
const SHOES_LINKS = [
  {
    name: 'All shoes',
    href: '/',
  },
  {
    name: 'Jordan Shoes',
    href: '/',
  },
  {
    name: 'Running shoes',
    href: '/',
  },
  {
    name: 'Basketball shoes',
    href: '/',
  },
  {
    name: 'football shoes',
    href: '/',
  },
];
const clothing = [
  {
    name: 'All clothing',
    href: '/',
  },
  {
    name: 'Tops & T-shirt',
    href: '/',
  },
  {
    name: 'Shorts',
    href: '/',
  },
  {
    name: 'Hoodies & pullovers',
    href: '/',
  },
  {
    name: 'Joggers & Sweatpants',
    href: '/',
  },
];
const kids = [
  {
    name: 'Infant & Toddler shoes',
    href: '/',
  },
  {
    name: 'Kids shoes',
    href: '/',
  },
  {
    name: 'kids shoes',
    href: '/',
  },
  {
    name: 'Kids basketball shoes',
    href: '/',
  },
  {
    name: 'kids running shoes',
    href: '/',
  },
];
---

<footer
  class="p-12 flex gap-4 flex-col md:flex-row justify-between items-start bg-gray-900 text-white"
>
  <div class="w-full md:w-[60ch]">
    <h2 class="text-3xl font-extrabold italic mb-4">NikeLite</h2>
    <p>
      This is a side project build to learn purposes all the images, information
      and data showed on this website is owned by <strong>Nike inc.</strong>
    </p>
    <p>© 2023 Nike, Inc. All Rights Reserved.</p>
    <p>Made By Yefree De Los Santos</p>
  </div>
  <div class="link-div">
    <h3 class="text-xl font-bold mb-4 uppercase">Featured</h3>
    <ul>
      {
        FEATURED_LINKS.map((link) => (
          <li>
            <a href={link.href}>{link.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="link-div">
    <h3 class="text-xl font-bold mb-4 uppercase">Shoes</h3>
    <ul>
      {
        SHOES_LINKS.map((link) => (
          <li>
            <a href={link.href}>{link.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="link-div">
    <h3 class="text-xl font-bold mb-4 uppercase">clothing</h3>
    <ul>
      {
        clothing.map((link) => (
          <li>
            <a href={link.href}>{link.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="link-div">
    <h3 class="text-xl font-bold mb-4 uppercase">kids'</h3>
    <ul>
      {
        kids.map((link) => (
          <li>
            <a href={link.href}>{link.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
